// Utilities
$utilities: () !default;

$utilities: map-merge(
  (
    "position": (
      responsive: true,
      property: position,
      values: static relative absolute fixed sticky,
    ),
    "height": (
      property: height,
      class: h,
      values: (
        0: 0,
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
    "padding-top": (
      responsive: true,
      property: padding-top,
      class: pt,
      values:
        map-merge(
          $spacers,
          (
            100: 100%,
          )
        ),
    ),
  ),
  $utilities
);
